
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h1>Access Denied</h1>

<div class="alert alert-warning">
    <p>
        Bu sayfaya erişim hakkınız yoktur.
    </p>
</div>

