@model EditPasswordModel

@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<h1 class="mt-3">Login</h1>
<hr />
<div class="row">

    <form asp-controller="Member" asp-action="EditPassword" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Kullandığınız Şifreniz" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input type="password" asp-for="NewPassword" class="form-control" placeholder="Yeni Şifre" required />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ReNewPassword" class="form-label"></label>
            <input type="password" asp-for="ReNewPassword" class="form-control" placeholder="Tekrar Yeni Şifre" required />
            <span asp-validation-for="ReNewPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>
