<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreMvcIdentity</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .form-check-input:checked {
            background-color: #198754;
            border-color: #198754;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container">
                <a class="navbar-brand" asp-controller="Admin" asp-action="Index">Core Identiy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Member" asp-action="Profil">Profil Sayfası</a>
                        </li>
                        @*     <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">

        <main class="row g-5">
            <div class="col-md-8 col-lg-8">
                @RenderBody()
            </div>

            <div class="col-md-4 col-lg-4">
                <h4 class="mb-3">Menüler</h4>

                <ul class="list-group mt-5">
                    <li class="list-group-item">
                        <a asp-controller="Admin" asp-action="UserList" class="btn btn-success" style="width:100%">Üyeler</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-controller="Admin" asp-action="Roles" class="btn btn-success" style="width:100%">Roller</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-controller="Member" asp-action="Logout" class="btn btn-success" style="width:100%">Çıkış Yap</a>
                    </li>
                </ul>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Core Identiy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jqueryjquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>