@model ForgatPasswordModel
@{
    ViewData["Title"] = "Forgat Password";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h1 class="mt-3">Forgat Password</h1>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-3">

        <div class="alert alert-info">
            <p>
                Yeni şifre belirlemek için kayıtlı e-posta adresini yazınız.<br />
                Şifre değiştirme linkini e-posta adresine göndereceğiz.
            </p>
        </div>

        <form asp-controller="Account" asp-action="ForgatPassword" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" asp-for="Email" class="form-control" placeholder="E-posta Adresi" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>

        </form>

    </div>
</div>