@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h1 class="mt-3">Login</h1>
<hr />
<div class="row">

    <div class="col-md-6 offset-md-3">

        <form asp-controller="Account" asp-action="Login" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" asp-for="Email" class="form-control" placeholder="E-posta Adresi" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Şifre" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" for="RememberMe">Beni Hatırla</label>
                <span asp-validation-for="RememberMe" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
            <hr />
            <div class="mb-3">
                <a asp-controller="Account" asp-action="ForgatPassword" class="link-primary">Şifremi Unuttum</a>
            </div>

            <div class="mb-3">
                <a asp-controller="Account" asp-action="ReplaceConfirmationEmail" class="link-primary">Onaylama Email Gönder</a>
            </div>

        </form>

    </div>
</div>